<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <th>
             <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
             </div>
        </th>
        <th>
          <div class="field">
              <%= f.label :phone %>
                <%= f.text_field :phone %>
              </div>
        </th>
      </tr>
      <tr>
            <th>
                    <div class="field">
                        <%= f.label :address %>
                        <%= f.text_field :address %>
                    </div>
            </th>
            <th>
                    <div class="field">
                        <%= f.label :number %>
                        <%= f.number_field :number %>
                    </div>
                  <div class="field">
                    <%= f.label :complement %>
                    <%= f.text_field :complement %>
                  </div>
            </th>

      </tr>
      <tr>
        <th>
           <div class="field">
                <%= f.label :mail %>
                <%= f.text_field :mail %>
            </div>
        </th>
      </tr>
    </table>

    <br>

<nav id="menu" class="clearfix" role="navigation">
  <%= f.submit %>
  <%= link_to 'Back', clients_path %>
</nav>
<% end %>
