<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Number</th>
    <th>Complement</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.number %></td>
    <td><%= client.complement %></td>
    <td><%= client.mail %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :destroy %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
