<script>

  $(document).ready(function(){
   setTimeout(function(){
  $("#messageBox").fadeOut("slow", function () {
  $("#messageBox").remove();
      });

}, 2000);
 });
</script>

<% if notice %>
	<p id="messageBox">
		<a class="spch-bub-inside">
			<span class="point"></span>  
			<em><%= notice %></em>
		</a>
	</p>
<% end %>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Number:</b>
  <%= @client.number %>
</p>

<p>
  <b>Complement:</b>
  <%= @client.complement %>
</p>

<p>
  <b>Mail:</b>
  <%= @client.mail %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
